swagger: "2.0"
info:
  description: "This is a simplified respresentation of Meetup's published API which you can find out more about [https://www.meetup.com/meetup_api/](https://www.meetup.com/meetup_api/). This Open API specificaton is not published or maintained by Meetup."
  version: "0.0.1"
  title: "Meetup Public Read-only API"
host: "api.meetup.com"
basePath: "/"
schemes:
- "https"
paths:
  /{meetup-group}:
    get:
      summary: "Retrieve Meetup Group by URL name"
      operationId: "GetMeetupGroup"
      produces:
      - "application/json"
      parameters:
      - name: "meetup-group"
        in: "path"
        description: "URL name of Meetup Group. i.e. Azure-Sydney-User-Group"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
              $ref: "#/definitions/MeetupGroup"
        404:
          description: "Meetup not found"
  /{meetup-group}/events:
    get:
      summary: "Retrieve Meetup Group Events List"
      operationId: "GetMeetupGroupEvents"
      produces:
      - "application/json"
      parameters:
      - name: "meetup-group"
        in: "path"
        description: "URL name of Meetup Group. i.e. Azure-Sydney-User-Group"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/MeetupEvent"
        404:
          description: "Meetup not found"

  /{meetup-group}/events/{eventid}:
    get:
      summary: "Retrieve Meetup Group Event Details"
      operationId: "GetMeetupGroupEvents"
      produces:
      - "application/json"
      parameters:
      - name: "meetup-group"
        in: "path"
        description: "URL name of Meetup Group. i.e. Azure-Sydney-User-Group"
        required: true
        type: "string"
      - name: "eventid"
        in: "path"
        description: "Alphanumeric identifier for a single Meetup Group Event. i.e. '258375479'"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
              $ref: "#/definitions/MeetupEvent"
        403:
          description: "Meetup Event not available via unauthorised call"
        404:
          description: "Meetup Event not found"
        410:
          description: "Meetup Event has been deleted"
  
  /status:
    get:
      summary: "Retrieve the status of the Meetup API"
      operationId: "GetAPIStatus"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
              $ref: "#/definitions/APIStatus"
definitions:
  APIStatus:
    type: "object"
    properties:
      message:
        type: "string"
      status:
        type: "string"
      title:
        type: "string"
  Photo:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int32"
        description: "Numeric photo ID"
      base_url:
        type: "string"
        description: "A base url that can be use to construct a photo url from its components"
      highres_link:
        type: "string"
        description: "Link for full sized photo"
      photo_link:
        type: "string"
        description: "Link for standard sized photo"
      thumb_link:
        type: "string"
        description: "Link for thumbnail sized photo"
      type:
        type: string
        description: "Type of photo. One of 'event' or 'member'"
  Category:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int32"
        description: "Numeric category id"
      name:
        type: "string"
        description: "Display name of the category"
      shortname:
        type: "string"
        description: "String identifier of the category"
      sort_name:
        type: "string"
        description: "Name used for sorting"
  MeetupEvent:
    type: "object"
    properties:
      id:
        type: "string"
        description: "A unique alphanumeric identifier for event"
      name:
        type: "string"
        description: "Name of the event"
      link:
        type: "string"
        description: "Link to event on meetup.com"
      duration:
        type: "integer"
        format: "int32"
        description: "Scheduled event duration in milliseconds, if an end time is specified by the organiser."
      description:
        type: "string"
        description: "Description of the event in HTML. Email addresses and phone numbers will be masked."
      local_date:
        type: "string"
        description: "The local date of the Meetup in ISO 8601 format"
      local_time:
        type: "string"
        description: "The local time of the Meetup in ISO 8601 format"
      manual_attendance_count:
        type: "integer"
        description: "Manually entered total attendee headcount, if any exists"
      past_event_count_inclusive:
        type: "integer"
        format: "int32"
        description: "Number of past events that happened before and including this event."
      plain_text_description:
        type: "string"
        description: "Plain text version of the event description. Email addresses and photo numbers will be masked."
      plain_text_no_images_description:
        type: "string"
        description: "Plain text version of the event description without images. Email addresses and photo numbers will be masked."
      short_link:
        type: "string"
        description: "A shortened link for the event on meetup.com"
      status:
        type: "string"
        description: "'cancelled', 'upcoming', 'past', 'proposed', 'suggested' or 'draft'"
      time:
        type: "integer"
        format: "int64"
        description: "UTC start time of the event, in milliseconds since the epoch"
      utc_offset:
        type: "integer"
        format: "int64"
        description: "he local offset from UTC time, in milliseconds"
      waitlist_count:
        type: "integer"
        format: "int32"
        description: "Number of members on the waitlist, if one exists"
      yes_rsvp_count:
        type: "integer"
        format: "int32"
        description: "Number of yes RSVPs including guests"
  MeetupGroup:
    type: "object"
    required:
    - "name"
    - "photoUrls"
    properties:
      id:
        type: "integer"
        format: "int32"
        description: "Numeric Group ID"
      description:
        type: "string"
        description: "Short description of group"
      group_photo:
        $ref: "#/definitions/Photo"
        description: "Group photo"
      key_photo:
        $ref: "#/definitions/Photo"
        description: "Group primary photo"
      approved:
        type: "boolean"
      category:
        $ref: "#/definitions/Category"
        description: "The primary category of the group, if the group has one"
      city:
        type: "string"
        description: "City of the group"
      country:
        type: "string"
        description: "Country of the group"
      created:
        type: "integer"
        description: "Time the group was created in milliseconds since the epoch"
      is_simplehtml:
        type: "boolean"
        description: "'true' when the group description has been saved in a simplified HTML format, 'false' otherwise."
      join_mode:
        type: "string"
        description: "Who can join this group and how. One of 'approval', 'closed', or 'open'"
      lat:
        type: "integer"
        description: "Latitude"
      lon:
        type: "integer"
        description: "Longtitude"
      localized_country_name:
        type: "string"
        description: "Name of country of the group"
      localized_location:
        type: "string"
        description: "City/State or City/Country of the group"
      members:
        type: "integer"
        description: "Number of members of the Group"
      name:
        type: "string" 
        description: "Name of the Group (if it has one)"
      plaintext_description:
        type: "string"
        description: "Description of the group, in plain text format."
      plain_text_no_images_description:
        type: "string"
        description: "Description of the group, in plain text format with no images."
      short_link:
        type: "string"
        description: "A shorted URL for the group"
      url_Name:
        type: "string"
        description: "Used to identify the group on meetup.com"
      timezone:
        type: "string"
        description: "This represents the universal timezone identifier for the group"
externalDocs:
  description: "Find out more about the Meetup API"
  url: "https://www.meetup.com/meetup_api/"